@import "tailwindcss";

body, html {
  background-color: #000;
  margin: 0;
  padding: 0;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none; 
  -ms-overflow-style: none; /* IE 10+ */
}